.layout {
  height: 100vh;
}
.dropHeader .uni-drop-down-containter {
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08),0px 4px 10px rgba(0, 0, 0, 0.06);
   border-radius: 4px;
   padding: 4px 0px;
   text-align: center;
}

.dropHeader .uni-drop-down-containter > div {
  height: 32px;
  line-height: 32px;
  padding: 0px 16px;
  cursor: pointer;
}

.dropHeader .uni-drop-down-containter > div:hover {
  background-color: #EAEAEA;
}
.currentMenu {
  height: 24px;
}
.currentMenu .uniicon {
  margin-left: 4px;
}

.currentMenu img {
  width: 24px;
  margin-right: 8px;
}

.layoutContent {
  border-left: 16px solid rgb(239, 239, 239);
  flex: 1;
  height: calc(100vh - 140px);
  overflow: auto;
}
.layoutContent .content {
  padding: 40px 56px;
  background-color: #fff;
  max-width: 1366px;
  min-width: 960px;
  margin: 0 auto;
}
.layoutFooter {
  height: 132px;
  background: #eee;
  text-align: center;
  padding: 38px 0 32px;
  font-size: 16px;
  font-weight: 400;
  color: #2f2f2f;
}
.layoutFooter .footer_contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.layoutContent .footer_rights {
  color: #999;
    margin-top: 18px;
}